{% load i18n %}
<div class="footer-basic bg-dark">
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3 class="text-light mt-3 services">{% translate "Services" %}</h3>
                <ul class="ul-footer">
                    <li><a href="/" class="text-light mt-3 ms-4">{% translate "Development" %}</a></li>
                    <li><a href="/" class="text-light mt-3 ms-4">{% translate "Hosting" %}</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3 class="text-light mt-3 ms-3">{% translate "Information" %}</h3>
                <ul class="ul-footer-2">
                    <li><a href="/" class="text-light mt-3">{% translate "About" %}</a></li>
                    <li><a href="/" class="text-light mt-3">{% translate "Team" %}</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text mt-3">
                <h3 class="text-light">{% translate "License" %}</h3>
            </div>
        </div>
    </footer>
</div>
